@import "_normalize.scss";
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap&subset=cyrillic");
body {
  font-family: "Rubik", sans-serif;
  color: black;
  button {
    cursor: pointer;
    border: none;
  }
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  @media screen and (max-width: 1170px) {
    & {
      padding: 0 22px;
    }
  }
}
.red {
  color: #c70015;
}

#menu {
  background-color: #e5e5e5;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
nav {
  width: 60%;

  height: 60px;
  ul {
    padding: 0;
    list-style-type: none;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    @media screen and (max-width: 960px) {
      & {
        margin: 8px 0;
      }
    }
    li {
      height: 40px;
      @media screen and (max-width: 960px) {
        & {
          display: none;
        }
      }
      &:last-of-type {
        display: none;
        @media screen and (max-width: 960px) {
          & {
            display: inline;
            & img {
              height: 35px;
              padding-top: 5px;
            }
          }
        }
      }
      a {
        vertical-align: middle;
      }
    }
  }
}
.activeNav {
  border-bottom: 2px solid #c70015;
  a {
    color: #c70015;
  }
}

#accountMenu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 25%;
  height: 60px;
  @media screen and (max-width: 960px) {
    & {
      justify-content: flex-end;
    }
  }

  div {
    height: 60px;

    text-align: center;

    line-height: 60px;
  }
}
#loginToAccount {
  width: 50%;
  img {
    height: 22px;
    padding-top: 18px;
  }
  span {
    vertical-align: top;
  }
  @media screen and (max-width: 960px) {
    width: 40px;
    span {
      display: none;
    }
  }
}
#registration {
  width: 50%;
  @media screen and (max-width: 960px) {
    & {
      display: none;
    }
  }
}
#adaptiveCart {
  display: none;
  width: 40px;
  @media screen and (max-width: 960px) {
    & {
      display: block;
    }
  }

  position: relative;
  img {
    height: 22px;
    padding-top: 20px;
  }
}

.accountMenuActive {
  background-color: #c70015;
  a {
    color: white;
  }
}
#headerBottom {
  height: 265px;
  @media screen and (max-width: 960px) {
    & {
      display: none;
    }
  }
}
.underline {
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  border-bottom: 2px #c70015 solid;
}
.boxShadow {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
  border-radius: 100%;
  margin: 5px;
  padding: 15px;
}

#callMe {
  width: 35%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;

  p {
    font-size: 30px;
    font-weight: 400;
    @media screen and (min-width: 981px) and (max-width: 1140px) {
      & {
        font-size: 26px;
      }
    }
    @media screen and (min-width: 541px) and (max-width: 980px) {
      & {
        font-size: 22px;
      }
    }
    span {
      font-size: 16px;
      font-weight: 400;
      color: #bdbdbd;
    }
    a {
      font-size: 18px;
      color: #c70015;
      font-weight: 500;
    }
  }
}
#inShoppingBag {
  width: 25%;

  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  a {
    @media screen and (min-width: 541px) and (max-width: 1140px) {
      & {
        font-size: 16px;
      }
    }
  }
  & > a {
    position: relative;
  }

  p {
    font-weight: 400;
    font-size: 30px;
    @media screen and (min-width: 541px) and (max-width: 1140px) {
      & {
        font-size: 20px;
      }
    }

    span {
      font-size: 18px;
      font-weight: 500;
      @media screen and (min-width: 541px) and (max-width: 1140px) {
        & {
          font-size: 16px;
        }
      }
    }
  }
}
#qtyGoodsInBag {
  position: absolute;
  top: -10px;
  left: 50px;
  width: 28px;
  height: 28px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 100%;
  color: white;
  background-color: #c70015;
  text-align: center;
  line-height: 28px;
}
#qtyGoodsInBagAdaptive {
  position: absolute;
  top: 13px;
  left: 18px;
  width: 18px;
  height: 18px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 100%;
  color: white;
  background-color: #c70015;
  text-align: center;
  line-height: 20px;
}
#search {
  background-color: #e5e5e5;
  @media screen and (max-width: 960px) {
    & {
      background-color: transparent;
    }
  }
  form {
    position: relative;
    @media screen and (max-width: 960px) {
      & {
        height: 40px;
        margin-bottom: 25px;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
        input {
          height: 40px;
        }
      }
    }

    height: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;

    input {
      height: 60px;
      border: none;
      @media screen and (max-width: 960px) {
        & {
          height: 40px;
        }
      }
    }
  }
}
#searchByName {
  width: 60%;
  @media screen and (min-width: 961px) and (max-width: 1140px) {
    & {
      width: 35%;
    }
    padding: 0 0 0 8%;
  }
  @media screen and (max-width: 960px) {
    & {
      width: 80%;
      padding: 0 0 0 4%;
    }
  }

  padding: 0 0 0 18%;
  &::-webkit-input-placeholder {
    color: #bdbdbd;
    font-weight: 500;
  }
  &::-moz-placeholder {
    color: #bdbdbd;
    font-weight: 500;
  }
  &:-ms-input-placeholder {
    color: #bdbdbd;
    font-weight: 500;
  }
  &::-ms-input-placeholder {
    color: #bdbdbd;
    font-weight: 500;
  }
  &::placeholder {
    color: #bdbdbd;
    font-weight: 500;
    @media screen and (max-width: 960px) {
      & {
        font-size: 0.0001px;
      }
    }
  }
}
#searchByNumber {
  width: 35%;
  display: block;
  margin-left: 5px;
  @media screen and (max-width: 960px) {
    & {
      width: 1%;
    }
  }

  padding: 0 3% 0 3%;
  &::-webkit-input-placeholder {
    color: #bdbdbd;
    font-weight: 500;
  }
  &::-moz-placeholder {
    color: #bdbdbd;
    font-weight: 500;
  }
  &:-ms-input-placeholder {
    color: #bdbdbd;
    font-weight: 500;
  }
  &::-ms-input-placeholder {
    color: #bdbdbd;
    font-weight: 500;
  }
  &::placeholder {
    color: #bdbdbd;
    font-weight: 500;
  }
}
button[type="submit"] {
  position: absolute;
  right: 0;
  @media screen and (max-width: 1170px) {
    & {
      right: 22px;
    }
  }
  @media screen and (max-width: 960px) {
    & {
      width: 110px;
      height: 40px;
      font-size: 12px;
      img {
        width: 20px;
      }
    }
  }
  background: #c70015;
  border-radius: 35px;
  border: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;

  -ms-flex-pack: distribute;

  justify-content: space-around;
  font-weight: 500;
  font-size: 16px;
  color: #fcfcfc;
  width: 190px;
  height: 60px;
}
#btnCatalog {
  position: absolute;
  left: 0;
  @media screen and (max-width: 1170px) {
    & {
      left: 22px;
    }
  }
  @media screen and (max-width: 960px) {
    & {
      display: none;
    }
  }
  background: #c70015;
  border-radius: 35px 0px 0px 35px;
  border: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;

  -ms-flex-pack: distribute;

  justify-content: space-around;
  font-weight: 500;
  font-size: 16px;
  width: 17%;
  height: 60px;
  a {
    color: #fcfcfc;
  }

  img {
    padding-top: 5px;
  }
}

.hamburger-menu {
  display: none;
  @media screen and (max-width: 960px) {
    & {
      display: block;
      z-index: 1000;
    }
  }
}
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center; /* центрируем содержимое кнопки */
  position: absolute;
  top: 13px;
  left: 20px;
  width: 26px;
  height: 16px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;

  border-radius: 100px;
  background-color: #c70015;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;

  //height: 337px;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  @media screen and (max-width: 420px) {
    & {
      width: 100vw;
    }
  }
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 20px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

  &:active {
    color: #c70015;
  }
}
.menu__item:hover {
  background-color: #cfd8dc;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.25s;
}
.menu__box {
  transition-duration: 0.25s;
}
.menu__item {
  transition-duration: 0.25s;
}

#banners {
  margin-top: 30px;
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "bannersSlider bannersSlider bannersSlider firstSmallBanner firstSmallBanner"
    " bannersSlider bannersSlider bannersSlider secondSmallBanner secondSmallBanner";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 186px 186px;
  grid-gap: 12px;

  @media screen and (min-width: 961px) and (max-width: 1140px) {
    & {
      //grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    }
  }
  @media screen and (min-width: 671px) and (max-width: 960px) {
    & {
      width: 80%;
      margin: 0 auto;
      grid-template-areas:
        "bannersSlider bannersSlider  bannersSlider bannersSlider"
        "firstSmallBanner firstSmallBanner secondSmallBanner secondSmallBanner";
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto 158px;
      grid-gap: 12px;
    }
  }

  @media screen and (max-width: 670px) {
    & {
      //width: 100%;
      width: 80%;
      margin: 0 auto;
      grid-template-areas:
        "bannersSlider bannersSlider bannersSlider bannersSlider bannersSlider"
        "firstSmallBanner firstSmallBanner firstSmallBanner firstSmallBanner firstSmallBanner"
        "secondSmallBanner secondSmallBanner secondSmallBanner secondSmallBanner secondSmallBanner";
      grid-template-columns: 5fr;
      grid-template-rows: auto 128px 128px;
      grid-gap: 12px;
    }
  }
  @media screen and (max-width: 470px) {
    width: 100%;
  }
  .slick-slide {
    border-radius: 5px;
    overflow: hidden;
    img {
      //height: 100%;

      max-width: 105%;
      @media screen and (max-width: 960px) {
        & {
          max-width: 109%;
        }
      }
    }
  }

  .bannersButton {
    background: transparent;
    border-radius: 35px;

    border: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;

    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-weight: 500;
    font-size: 16px;
    width: 205px;
    height: 60px;
    @media screen and (max-width: 771px) {
      & {
        font-size: 14px;
        width: 150px;
        img {
          width: 20px;
        }
      }
    }
  }
}

#bannersSlider {
  grid-area: bannersSlider;
  border-radius: 5px;
  background-color: #c70015;
  height: 384px;
  overflow: hidden;
  @media screen and (max-width: 960px) {
    & {
      height: auto;
    }
  }

  /* Dots */

  .slick-dots {
    position: absolute;
    bottom: 10%;
    left: -28%;
    @media screen and (max-width: 670px) {
      & {
        left: -33%;
      }
    }
    li {
      @media screen and (max-width: 670px) {
        & {
          width: 0px;
        }
      }
    }
  }

  .slick-dots li button:before {
    font-size: 14px;
    opacity: 0.25;
    color: white;
    @media screen and (max-width: 670px) {
      & {
        font-size: 6px;
      }
    }
  }

  .slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: white;
  }
}

#firstSmallBanner {
  grid-area: firstSmallBanner;
  border-radius: 5px;
  height: 186px;
  background: #fcfcfc;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  position: relative;
  @media screen and (min-width: 671px) and (max-width: 960px) {
    & {
      height: 158px;
    }
  }
  @media screen and (max-width: 670px) {
    & {
      height: 128px;
    }
  }
  h2 {
    position: absolute;
    left: 30px;
    top: 10px;
    font-weight: 500;
    font-size: 24px;
    z-index: 20;
    background-color: #fcfcfc;
    border-radius: 35px;
    padding: 0 15px;
    @media screen and (max-width: 1115px) {
      & {
        font-size: 14px;
        left: 5px;
      }
    }
  }
  & > img {
    position: absolute;
    right: 0;
    top: 0;
    @media screen and (min-width: 961px) and (max-width: 1030px) {
      & {
        width: 160px;
      }
    }
    @media screen and (max-width: 960px) {
      & {
        width: 120px;
      }
    }
  }
  button {
    position: absolute;
    bottom: 30px;
    left: 30px;
    @media screen and (max-width: 1115px) {
      & {
        bottom: 0px;
        left: 0px;
      }
    }
  }
}
#secondSmallBanner {
  grid-area: secondSmallBanner;
  border-radius: 5px;
  height: 186px;
  background: #fcfcfc;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  position: relative;
  @media screen and (min-width: 671px) and (max-width: 960px) {
    & {
      height: 158px;
    }
  }
  @media screen and (max-width: 670px) {
    & {
      height: 128px;
    }
  }
  h2 {
    position: absolute;
    right: 30px;
    top: 10px;
    font-weight: 500;
    font-size: 24px;
    text-align: right;
    z-index: 20;
    background-color: #fcfcfc;
    border-radius: 35px;
    padding: 0 15px;
    @media screen and (max-width: 1115px) {
      & {
        font-size: 14px;
        right: 5px;
      }
    }
  }
  & > img {
    position: absolute;
    left: 0;
    bottom: 0;
    @media screen and (min-width: 961px) and (max-width: 1030px) {
      & {
        width: 200px;
      }
    }
    @media screen and (max-width: 960px) {
      & {
        width: 140px;
      }
    }
  }
  button {
    position: absolute;
    bottom: 30px;

    right: 15px;
    @media screen and (max-width: 1115px) {
      & {
        bottom: 0px;
        right: -10px;
      }
    }
  }
}
.wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}
#searchByCategory {
  margin-top: 70px;
  @media screen and (max-width: 960px) {
    & {
      margin-top: 40px;
    }
    h2 {
      margin-bottom: 30px;
    }
  }
  .wrap {
    justify-items: stretch;
    :nth-child(2) {
      width: 45%;
    }
  }

  h2 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.04em;
    margin-bottom: 70px;
    text-align: center;
    @media screen and (max-width: 960px) {
      & {
        margin-bottom: 50px;
        margin-top: 0;
        font-size: 18px;
      }
    }
  }
  .line {
    border-top: 1px #e0e0e0 solid;
    width: 32%;
    height: 50px;

    @media screen and (max-width: 670px) {
      & {
        width: 25%;
      }
    }
  }
}

#categories {
  a[class="wrap"] {
    background: #fcfcfc;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    height: 126px;
    &:hover {
      color: #c70015;
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
    }
  }
  .wrap {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

#categoriesMainPage a[class="wrap"] {
  background: #fcfcfc;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  height: 126px;
  @media screen and (max-width: 470px) {
    & {
      height: 105px;
    }
  }
  justify-content: space-around;
  &:hover {
    color: #c70015;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
  }
}

.categories {
  .categoriesItem {
    height: 390px;
    a[class="wrap"] ~ a {
      opacity: 0.7;
      color: #676363;
      display: block;
      width: fit-content;
      margin: 20px 50px;
      font-weight: 500;
    }

    &:hover {
      a[class="wrap"] ~ a {
        opacity: 1;
      }
    }

    a[class="wrap"] ~ a:hover {
      color: #c70015;
    }
  }
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 5px;
  @media screen and (min-width: 591px) and (max-width: 960px) {
    & {
      grid-template-columns: 2fr 2fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-column-gap: 20px;
    }
    h3 {
      font-weight: 300;
      font-size: 16px;
    }
  }
  @media screen and (min-width: 471px) and (max-width: 590px) {
    width: 80%;
    margin: 0 auto;
    & {
      grid-template-columns: 2fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    h3 {
      font-weight: 300;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 470px) {
    width: 100%;
    & {
      grid-template-columns: 2fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-row-gap: 18px;
    }
    h3 {
      font-weight: 300;
      font-size: 14px;
    }
    img {
      width: 120px;
    }
  }
  h3 {
    font-weight: 500;
  }
}
#popGoods {
  margin-top: 50px;
  background-color: #fcfcfc;
  .container {
    & > h3 {
      display: none;
      @media screen and (max-width: 851px) {
        & {
          display: block;
          text-align: center;
          font-size: 24px;
          line-height: 135%;
          font-weight: 400;
          letter-spacing: 0.04em;
          margin-bottom: 0;
        }
      }
    }
  }
  h2 {
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 250px;
    letter-spacing: 0.04em;
  }
  @media screen and (max-width: 851px) {
    .wrap {
      justify-content: center;
    }
  }
}
#popGoodsSliderArrows {
  @media screen and (max-width: 851px) {
    & {
      display: none;
    }
  }
}

#popGoodsSlider {
  width: 70%;
  @media screen and (min-width: 651px) and (max-width: 851px) {
    & {
      width: 80%;
    }
  }
  @media screen and (max-width: 650px) {
    & {
      width: 268px;
      margin-bottom: 0;
    }
  }

  padding: 40px 0 40px 0;

  .slick-dots {
    position: absolute;
    bottom: 55px;
    li {
      width: 0;
    }
  }
  /*Arrows*/

  .slick-prev {
    left: -43%;
    top: 350px;
    @media screen and (max-width: 851px) {
      & {
        display: none;
      }
    }
  }
  [dir="rtl"] .slick-prev {
    right: -25px;
    left: auto;
  }
  .slick-prev:before {
    content: url(../images/arrow1.png);
    @media screen and (max-width: 851px) {
      & {
        display: none;
      }
    }
  }
  [dir="rtl"] .slick-prev:before {
    content: url(../images/arrow1.png);
    @media screen and (max-width: 851px) {
      & {
        display: none;
      }
    }
  }

  .slick-next {
    left: -30%;
    top: 350px;
    @media screen and (max-width: 851px) {
      & {
        display: none;
      }
    }
  }
  [dir="rtl"] .slick-next {
    right: auto;
    left: -25px;
  }
  .slick-next:before {
    content: url(../images/arrow2.png);
    @media screen and (max-width: 851px) {
      & {
        display: none;
      }
    }
  }
  [dir="rtl"] .slick-next:before {
    content: url(../images/arrow2.png);
    @media screen and (max-width: 851px) {
      & {
        display: none;
      }
    }
  }
  .slick-prev:hover:before,
  .slick-prev:focus:before {
    opacity: 1;
    content: url(../images/arrow3prev.png);
    @media screen and (max-width: 851px) {
      & {
        display: none;
      }
    }
  }

  .slick-next:hover:before,
  .slick-next:focus:before {
    opacity: 1;
    content: url(../images/arrow3.png);
    @media screen and (max-width: 851px) {
      & {
        display: none;
      }
    }
  }
}
.productItem {
  display: inline-block;

  position: relative;
  height: 400px;
  width: 270px;
  margin: 10px;
  background: rgb(243, 241, 241);
  padding: 20px;
  border-radius: 5px;

  img {
    margin: 0 auto;
    display: block;
  }
  p {
    position: absolute;
    top: 220px;
    color: #999999;
    font-size: 14px;
  }
  & > span {
    position: absolute;
    top: 265px;
    color: red;
    left: 20px;
  }
  h3 {
    position: absolute;
    top: 280px;
  }
  div {
    height: 70px;
    width: 200px;
    // @media screen and (max-width: 1140px) {
    //   & {
    //     width: 170px;
    //   }
    // }
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  button {
    border: none;
    background-color: transparent;
  }
  .addToCart {
    background-color: #c70015;
  }
}
.addToCart {
  background-color: #c70015;
  border-radius: 35px;
  width: 65px;
  height: 35px;
}

#lastNews {
  margin-top: 50px;
  @media screen and (max-width: 590px) {
    & {
      margin-top: 0;
    }
  }
  .container {
    & > h3 {
      display: none;
      @media screen and (max-width: 590px) {
        & {
          display: block;
          text-align: center;
          font-size: 24px;
          line-height: 135%;
          font-weight: 400;
          letter-spacing: 0.04em;
          margin-top: 0;
        }
      }
    }
    & > a {
      display: none;
      @media screen and (max-width: 590px) {
        & {
          display: block;
          border-radius: 35px;
          width: 150px;
          height: 40px;
          margin: 10px auto;

          background-color: #c70015;
          font-weight: 500;

          button {
            color: white;
            width: 150px;
            height: 40px;
            font-size: 14px;
          }
        }
      }
    }
  }

  button {
    width: 200px;
    height: 60px;
    border: 1px solid #c70015;
    border-radius: 35px;
    color: #020202;
    background-color: transparent;
    font-weight: 500;
    font-size: 18px;
  }
  h2 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.04em;
    margin-bottom: 250px;
  }
  .wrap {
    & > div {
      @media screen and (min-width: 591px) and (max-width: 806px) {
        & {
          width: 40%;
          padding-left: 11%;
        }
      }
      @media screen and (max-width: 590px) {
        & {
          display: none;
        }
      }
    }
  }
  .wrap > a {
    width: 35%;
    &:nth-of-type(1) {
      @media screen and (min-width: 591px) and (max-width: 806px) {
        & {
          width: 60%;
        }
      }
      @media screen and (min-width: 371px) and (max-width: 590px) {
        & {
          width: 80%;
          margin: 0 auto;
        }
      }
      @media screen and (max-width: 370px) {
        & {
          width: 100%;
        }
      }
    }
    &:nth-of-type(2) {
      @media screen and (max-width: 806px) {
        & {
          width: 0%;
        }
      }
    }
  }
}
#news1 {
  .newsImg {
    background-image: url("../images/photo1.jpg");
    border-radius: 5px;
  }
}
#news2 {
  @media screen and (max-width: 806px) {
    & {
      display: none;
    }
  }
  .newsImg {
    background-image: url("../images/photo2.jpg");
    border-radius: 5px;
  }
}
.news {
  width: 95%;
  margin: 0 auto;
  @media screen  and (max-width: 806px) {
    & {
      width: 280px;
    }
  }
 
  h3 {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: -0.04em;
    color: #c70015;
  }
  h3[class="textAlignLeft"] {
    text-align: left;
  }
  span {
    font-size: 16px;

    letter-spacing: 0.04em;
  }
  p {
    font-size: 18px;
    color: #828282;
  }
}

.newsImg {
  background-size: cover;
  background-position: center;
  height: 200px;
}
#emailNewsletter {
  background-color: #e5e5e5;

  margin-top: 50px;
  .wrap {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    @media screen and (max-width: 650px) {
      & {
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
      }
    }
  }
  p {
    font-size: 18px;
    color: #828282;
    @media screen and (max-width: 650px) {
      & {
        font-size: 14px;
      }
    }
  }
  img {
    @media screen and (max-width: 650px) {
      & {
        width: 30px;
        margin-top: 20px;
      }
    }
  }
  form {
    position: relative;
    span {
      color: #828282;
    }
  }
  button {
    right: 40px;
    @media screen and (max-width: 650px) {
      & {
        right: 5%;
        bottom: 20px;
      }
    }
  }
  input {
    height: 60px;
    border: none;
    width: 35%;
    display: block;
    margin-right: 30px;
    border-radius: 35px;
    padding: 0 3% 0 3%;
    @media screen and (min-width: 651px) and (max-width: 960px) {
      & {
        //margin-right: 0px;
        height: 40px;
        width: 260px;
      }
    }
    @media screen and (max-width: 650px) {
      & {
        margin-right: 0px;
        height: 40px;
        width: 90%;
        &::placeholder {
          font-size: 14px;
        }
      }
    }

    &::-webkit-input-placeholder {
      color: #bdbdbd;
      font-weight: 500;
    }
    &::-moz-placeholder {
      color: #bdbdbd;
      font-weight: 500;
    }
    &:-ms-input-placeholder {
      color: #bdbdbd;
      font-weight: 500;
    }
    &::-ms-input-placeholder {
      color: #bdbdbd;
      font-weight: 500;
    }
    &::placeholder {
      color: #bdbdbd;
      font-weight: 500;
    }
  }
}
footer {
  padding-top: 50px;
  background-color: #fcfcfc;
  @media screen and (max-width: 960px) {
    & {
      padding-top: 0px;
    }
  }
  .logo {
    padding-top: 50px;
  }
  .wrap {
    -ms-flex-align: start;
    align-items: flex-start;
  }
  h4,
  a {
    font-size: 18px;
    font-weight: 500;
  }
  a {
    margin: 12px 0;
    display: block;
    &:hover {
      color: #c70015;
    }
  }
  & > span {
    display: none;
    @media screen and (max-width: 960px) {
      & {
        display: block;
        margin: 15px 0;
        text-align: center;
        font-size: 11px;
        color: #999999;
      }
    }
  }
}
#fullScreenFooter {
  @media screen and (max-width: 960px) {
    & {
      display: none;
    }
  }
}

#mobileFooter {
  display: none;

  @media screen and (max-width: 960px) {
    & {
      display: flex;
      justify-content: space-around;
      height: 60px;
      :nth-child(1) {
        width: 80%;
        img {
          width: 130px;
          padding: 15px;
        }
      }
      :nth-child(2) {
        width: 35px;
        img {
          width: 25px;
          padding-top: 20px;
        }
      }
      :nth-child(3) {
        width: 35px;
        img {
          width: 25px;
          padding-top: 20px;
        }
      }
    }
  }
}

.breadcrumb {
  padding: 60px 0 45px 15px;
  img {
    margin: 0 10px;
  }

  a {
    color: #bdbdbd;
    font-size: 16px;
    &:hover {
      color: #c70015;
    }
  }
  span {
    font-weight: 500;
    font-size: 18px;

    letter-spacing: 0.02em;

    color: #676363;
  }
}

.sidebar {
  width: 17%;
  padding: 38px 0 0 24px;
  background: #fcfcfc;

  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  a {
    display: block;
    margin: 24px 0;
    &:hover {
      color: #c70015;
    }
  }
  align-self: flex-start;
}
.content-wrap {
  width: 80%;
  h2 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #c70015;
  }
}
.content {
  padding: 18px 70px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.037);
  border-radius: 5px;
  margin-bottom: 50px;

  h3 {
    text-align: center;
    font-weight: 500;
    font-size: 26px;
  }
  p {
    font-size: 16px;
  }
}
.anchors {
  margin-left: 2px;
  color: #676363;
}
#feedback {
  position: relative;
  padding-bottom: 100px;
  h2 {
    color: black;
  }
  input {
    width: 300px;
    height: 30px;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 15px;
    &::placeholder {
      font-size: 13px;
      line-height: 15px;
      color: #999999;
    }
  }
  input[type="submit"] {
    position: absolute;
    right: 0;
    border: 1px solid #c70015;
    box-sizing: border-box;
    border-radius: 35px;
    width: 160px;
    height: 40px;
    background-color: transparent;
    font-size: 14px;
    padding: 0;
    cursor: pointer;
    font-weight: 500;
  }
  textarea {
    align-self: flex-end;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 5px;
  }
}

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}
#modalCallMe {
  position: relative;
  width: 570px;
  height: 300px;
  padding: 30px;
  input {
    width: 360px;
    height: 40px;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 15px;
    margin-top: 10px;
    &::placeholder {
      font-size: 13px;
      line-height: 15px;
      color: #999999;
    }
  }
  button[type="submit"] {
    position: relative;
    margin: 10px auto;
    width: 250px;
    height: 40px;
  }
}
#catalog_modal {
  width: 950px;
  .categoriesItem {
    height: 265px;
    text-align: start;
  }
  h3 {
    margin: 20px 0 0 50px;
    font-weight: 500;
    font-size: 18px;
    color: #c70015;
  }
  a {
    font-size: 14px;
  }
}
.modal {
  display: none;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  text-align: center;

  h3 {
    font-size: 20px;
    font-weight: 400;
  }
  p {
    color: #676363;
  }
}
.modal_close {
  position: absolute;
  top: 14px;
  right: 18px;
  cursor: pointer;
}

#cart {
  max-height: 520px;
  width: 280px;
  padding: 30px;
  @media screen and (max-width: 960px) {
    & {
      padding: 15px;
      max-height: 450px;
    }
  }
  overflow: auto;
  > p {
    color: #828282;
    font-size: 18px;

    letter-spacing: 0.04em;
  }
  .cost {
    font-size: 14px;
    color: black;
  }
  .checkout {
    width: 200px;
    height: 40px;
    background: #c70015;
    border-radius: 35px;
    color: white;
  }
}
div#cart.modal {
  position: absolute !important;
  top: 225px !important;
  left: 82% !important;
  @media screen and (max-width: 960px) {
    & {
      top: 60px !important;
      left: 50% !important;
    }
  }
}
.totalCost {
  font-size: 18px;
}
.productItemInCart {
  display: flex;
  margin-top: 25px;
  height: 150px;
  border-bottom: 1px lightgray solid;
}
.imgGoodsInCart {
  width: 115px;
}
.description {
  width: 60%;
  text-align: start;
  padding-left: 30px;
  position: relative;
  p {
    font-size: 10px;
    color: black;
  }
  span {
    font-size: 13px;
  }
  .delGoods {
    background-image: url(../images/Group8.png);
    background-size: cover;
    border: none;
    background-color: white;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
  }

  .plusGoods {
    position: absolute;
    right: 100px;
  }
  .minusGoods {
    position: absolute;
    right: 85px;
  }
  a {
    display: block;
    text-decoration: underline;
    font-size: 13px;
    padding-top: 10px;
    color: #828282;
  }
}
